:root{
    --backgroundColor: #ffffff;    
    --player1Color: #2BFF88;
    --player2Color: #FA8BFF;
    --foregroundColor: #000;
    --efectColor: #fdfdfd;
    --highlightColor: #ffcc23;
}

@keyframes discDrop{
    0%{
        top: -700px;
    }
    50%{
        top: 0px;
    }
    75%{
        top: -50px;
    }
}

body{
    width: 100% ; 
    margin: 0;
    background-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--backgroundColor);
    box-sizing: border-box;
}

section.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5vh;
}

div.row { 
    display: flex;
    width: 5rem; 
    height: 5rem;
    background-position: center;
    background-size: 29px;
    border: 5px solid var(--foregroundColor);
    justify-content: center;
    align-items: center;
}

#discColor{
    border-top: 8px solid var(--player1Color);
}

.title{
    color: var(--foregroundColor);
    font-weight: bold;
    font-size: 3rem;
}

.title--hidden{
    font-size: 1.75rem;
    color: var(--backgroundColor);
}

.text{
    font-weight: bold;
    font-size: 3rem;
    margin: 20px 10px;
    color: var(--foregroundColor);
}

.disc {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    z-index: -1;
    animation: discDrop 0.5s ease-in-out;
    position: relative;
    top: 0;
}

.Mode{
    background-color: transparent;
    border: none;
    outline: none;
    max-width: 100px;
    cursor: pointer;
}
.Mode__Image{
    width: 100%;
}

.hidden{
    display: none;
}

.message{
    width: 100%;
    color: var(--foregroundColor);
    font-size: 2rem;
    font-weight: bold;
    margin: 20px 0;
}

.player1 {
    background-color: var(--player1Color);
}

.player1--text{
    color: var(--player1Color);
}

.player2 {
    background-color: var(--player2Color);
}

.player2--text{
    color: var(--player2Color);
}

.empate{
    color: var(--highlightColor);
}

.efeito{
    border: none;
    color: var(--backgroundColor);
    padding: 20px;
    margin: 10px;
    font-size: 24px;
    line-height: 24px;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms ease-in;
    outline: none;
}

.efeito-1{
    background-color:var(--foregroundColor);
}

.efeito-1::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 75px;
    background: var(--efectColor);
    opacity: 0.5;
    border-radius: 10px;
    transition: all 1s ease-in;
}

.efeito-1-changeColor::before{
    height: 66px;
    border-radius: 4px;
}

.efeito-1:hover::before{
    width: 100%;
}

.painel{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 700px){
    div.row { 
        display: flex;
        width: 3rem; 
        height: 3rem;
    }
    
    .disc {
        width: 1.5rem;
        height: 1.5rem;
    }
}

@media screen and (max-width: 500px){
    div.row { 
        display: flex;
        width: 2rem; 
        height: 2rem;
    }
    
    .disc {
        width: 1.5rem;
        height: 1.5rem;
    }

    .painel{
        flex-direction: column;
        align-items: center;
    }

    div.row{
        border: 3px solid var(--foregroundColor);
    }

    .efeito-1::before{
        height: 64px;
    }
}
