:root{
    --backgroundColor: #fff;
    --player1Color: #000;
    --player2Color: #f00;
    --rowColor: #00f;
}

@keyframes discDrop{
    0%{
        top: -250px;
    }
}

body{
    width: 100% ; 
    margin: 0;
    background-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--backgroundColor);
}

section.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 6rem;
}


div.row { 
    display: flex;
    width: 2rem; 
    height: 2rem;
    background-position: center;
    background-size: 29px;
    border: 1px solid var(--rowColor);
    justify-content: center;
    align-items: center;
}

.disc {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    z-index: -1;
    animation: discDrop 0.5s ease-in;
    position: relative;
    top: 0;
}

.Mode{
    background-color: transparent;
    border: none;
    outline: none;
    max-width: 75px;
    margin-top: 50px;
    cursor: pointer;
    position: relative;
    left: 40vw;
}
.Mode__Image{
    width: 100%;
}

.hidden{
    display: none;
}

.message{
    width: 100%;
}

.black {
    background-color: var(--player1Color);
}

.red {
    background-color: var(--player2Color);
}