body{
    width: 100% ; 
    margin: 0;
    background-size: 20px;
   
}


section.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 6rem;
}


div.row { 
    display: flex;
    width: 2rem; 
    height: 2rem;
    background-color: white;
    background-position: center;
    background-size: 29px;
    border: 1px solid blue;
    justify-content: center;
    align-items: center;
}

.disc {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
}

.red {
    background-color: red;
}

.black {
    background-color: black;
}